pip==23.3.1
torch
torchvision
tqdm
mediapipe
Pillow
diffusers
transformers
fire
huggingface_hub
imageio
imageio-ffmpeg
PyYAML
safetensors
wandb
accelerate
triton
gradio
plyfile
xformers
git+https://github.com/openai/point-e.git
